@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-surface: 229 231 235;
  --color-surface-muted: 245 245 245;
  --color-card: 255 255 255;

  --color-image-backdrop-primary: 76 175 80;
  --color-image-backdrop-secondary: 148 209 150;

  --color-text-primary: 23 23 23;
  --color-text-secondary: 82 82 82;
  --color-text-muted: 212, 212, 212;
  --color-text-inverse: 255 255 255;

  --color-border: 212 212 212;
  --color-border-muted: 229 231 235;

  --color-status-error: 239 68 68;
  --color-status-success: 76 175 80;
  --color-status-warning: 245 158 11;
  --color-status-info: 38 166 154;

  --color-button-primary: 76 175 80;
  --color-button-outlined: 255 255 255;
  --color-button-text-primary: 255 255 255;
  --color-button-text-outlined: 76 175 80;
  --color-button-border: 76 175 80;
}

.dark:root {
  --color-surface: 18 18 18;
  --color-surface-muted: 31 31 31;
  --color-card: 31 31 31;

  --color-image-backdrop-primary: 109 192 112;
  --color-image-backdrop-secondary: 148 209 150;

  --color-text-primary: 245 245 245;
  --color-text-secondary: 163 163 163;
  --color-text-muted: 115 115 115;
  --color-text-inverse: 23 23 23;

  --color-border: 64 64 64;
  --color-border-muted: 38 38 38;

  --color-status-error: 248 113 113;
  --color-status-success: 109 192 112;
  --color-status-warning: 251 191 36;
  --color-status-info: 56 209 194;

  --color-button-primary: 109 192 112;
  --color-button-outlined: 31 31 31;
  --color-button-text-primary: 23 23 23;
  --color-button-text-outlined: 109 192 112;
  --color-button-border: 109 192 112;
}
